/**
 *
 * @desc        Estilo padrão do formulário
 * @copyright   2018 upFlow.me
 * @version     1.0.0
 *
 */

/** ========== CONTEÚDO ========== 
 *
 * 1. ELEMENTOS UPFLOW.ME
 * 2. CORES E ITENS PADRÃO DO FORMULÁRIO
 * 3. TABELA ESTILO UF
 * 4. CUSTOMIZAÇÕES ESPECÍFICAS DESTE FORMULÁRIO
 *
 */
/* ========== 1. ELEMENTOS UPFLOW.ME  ========== */
.uF .page-footer {
    padding-top: 10px;
    margin: 10px 0 20px;
    border-top: 1px solid #eee;
}
.uF .page-footer ul.info {
    padding: 0px 15px;
    margin-bottom: 20px;
    list-style: none;    
}
.uF .page-footer ul.info li {
    display: inline-block;
}
.uF .page-footer ul.info > li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.uF .form-group.ufZoom.desabilitado *,
.uF section.desabilitado * {
    pointer-events: none;
    opacity: .65;
}
.uF .form-group.ufZoom input[readonly],
.uF .form-group.ufZoom .input-group-btn button,
.uF .form-group.ufZoom .input-group .codinput {
    background-color: #f7f7f7;
}
.uF .form-group.ufZoom .input-group .codinput {
    padding: 10px 6px;
    font-size: 80%;
}
.uF .form-group.ufZoom .input-group-btn button {
    height: 34px;
}
.uF #zoomModal table.dataTable tbody tr.selected {
    background-color: #fdf7c2;
}

/* ========== 2. CORES E ITENS PADRÃO DO FORMULÁRIO  ========== */
.uF section#secCabecalho .status-solicitacao div.status {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.uF label, 
.uF .btn {
    font-weight: lighter !important;
    text-transform: uppercase;
    font-size: 13px;
}
.uF .form-group input.form-control,
.uF .form-group textarea.form-control,
.uF .form-group span.form-control {
	font-size: 16px;
	font-weight: bold;
}
.uF span.obs-processo {
    text-align: justify;
}
.uF .help-block {
    font-size: 90% !important;
}
.uF input.form-control.sem-borda {
    border: none;
    background: none;
    box-shadow: none;
    font-weight: 600;
    cursor: default;
    padding: 6px;
    pointer-events: none;
}
.uF span.sem-borda {
    font-weight: 600;
}

/* ========== 3. TABELA ESTILO UF  ========== */
.uF table.table .help-block {
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: smaller;
    font-style: italic;
}
.uF table.table > thead {
    background-color: #eee;
}
.uF table.table > tfoot > tr > th {
	border-top: 2px solid #ddd;
}
.uF table.table > thead > tr > th {
	font-weight: 200;
	border-bottom: 2px solid #ddd;
}
.uF table.table > tbody > tr > td {
    border-bottom: 1px solid #eee;
	vertical-align: middle;
}
.uF table.table > tbody > tr:last-child > td {
    border-bottom: 2px solid #ddd;
}
.uF table.table > tbody > tr > td .form-group {
    margin-bottom: 0px;
}
.uF table.table > tbody > tr > td .form-group input.form-control {
    padding: 6px;
}
.uF table.table > tbody > tr > td.acoes-linha {
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}
.uF table.table > tbody > tr > td.acoes-linha > a {
	margin-right: 5px;
	color: #E5E5E5;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}
.uF table.table > tbody > tr:hover > td.acoes-linha > a:not([disabled]) {
	color: #595959;
}
.uF table.table > tbody > tr > td.acoes-linha > a[disabled] {
	cursor: not-allowed;
    pointer-events: none;
}
.uF table.table > tbody > tr > td a.remove-linha:hover > span {
    color: #a94442;
}

/* ========== 4. CUSTOMIZAÇÕES ESPECÍFICAS DESTE FORMULÁRIO  ========== */
.uF .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 25px !important;
    background-color: #f7f7f7 !important;
    margin-bottom: 30px;
}
.uF .nav-tabs>li.active>a,
.uF .nav-tabs>li.active>a:hover, 
.uF .nav-tabs>li.active>a:focus {
    background-color: #f7f7f7 !important;
}
.uF .nav-tabs.nav-justified>.active>a,
.uF .nav-tabs.nav-justified>.active>a:hover,
.uF .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #f7f7f7 !important;
}
.uF .btn-group.opc_avaliacao .btn-default.sim.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.uF .btn-group.opc_avaliacao .btn-default.nao.active {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.uF .m-b-20 {
    margin-bottom: 10px;
}
